<div class="container-login">
  <mat-card class="login-card">
    <mat-card-title>Login</mat-card-title>

    <mat-card-content class="login-form">
      <form [formGroup]="loginForm" class="form">

        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="username" placeholder="Email" required>
          <mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
            Please enter a valid e-mail.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Password" required>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
            <mat-icon>{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            Please enter a valid password.
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" (click)="onSubmit()">Login</button>

      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="red" routerLink="/register">Don't have an account? Register here.</button>
    </mat-card-actions>

  </mat-card>
</div>
